<div class="card">
    <div class="container">
        <div class="card-header text-center">
            <p>Đăng Nhập</p>
        </div>
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <div class="form-group">
                    <label>Tài khoản</label>
                    <input type="email" class="form-control" name="email" formControlName="email">
                    <span class="text-danger" *ngIf="loginForm.get('email')!.invalid && 
            (loginForm.get('email')!.dirty || loginForm.get('email')!.touched)">Email không hợp lệ</span>
                </div>
                <div class="form-group">
                    <label>Mật khẩu</label>
                    <input type="password" class="form-control" name="password" formControlName="password">
                    <span class="text-danger" *ngIf="loginForm.get('password')!.invalid &&
            (loginForm.get('password')!.dirty|| loginForm.get('password')!.touched)">mật khẩu không hợp lệ</span>
                </div>
                <button type="submit" class="btn btn-primary">Đăng Nhập</button>
            </form>
        </div>
    </div>
</div>