<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" routerLink="home">FPoly Product Manager</a>
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/product">Product list</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Manager
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Login</a>
                <a class="dropdown-item" href="#">Cart</a>
            </div>
        </li>
    </ul>
</nav>